* {
    
    color: white;
  
}
  
.game-container {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    width: 500px;
    align-items: center;
    background-color: gray;
   
}

.title-container {
    text-align: center;
     

    
}

.tile-container {
    
    margin-bottom: 50px;
}

.keyboard-container {
  
   display: flex;
   flex-wrap: wrap;
   width: 500px;
   align-items: center;
    
}

/* .keyboard-container button:nth-child(20),
.keyboard-contaniner button:nth-child(20) {
    width:
} */

.keyboard-container button:nth-child(11) {
    margin-left: 30px;
}

.keyboard-container button {
    padding:18px;
    margin:2px;
    background-color: gray;
    color: white;
    border-radius: 5px;
    border: none;
}


.tile-container .tile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    box-sizing: border-box;
    margin: 2px;

}

.tile-container div {
    display: flex;
}